<!-- templates/budget.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Monthly Budget</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    
    <table>
        <tr>
            <th>Person</th>
            <th>Vamshi</th>
            <th>Suresh</th>
            <th>Pavithra</th>
            <th>Atul</th>
            <th>Azad</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{ data.date }}</td>
            <td>{{ data.vamshi }}</td>
            <td>{{ data.suresh }}</td>
            <td>{{ data.pavithra }}</td>
            <td>{{ data.atul }}</td>
            <td>{{ data.azad }}</td>
            <td>{{ data.total }}</td>
        </tr>
    </table>
</body>
</html>

